# created by virtualenv automatically
venv

# Ignore JetBrains IDE settings
.idea/

# Coverage reports
.coverage

# Tox environments
.tox/

# Python egg-info
*.egg-info/

# Python bytecode cache
__pycache__/

